[user]
	name = zuchunlei
	email = zuchunlei@outlook.com
[core]
	editor = vim
[alias]
	prelog = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
